미국장과 그냥장의 상관관계

1. 미국오전장(선)과 미국오후장(후)의 상관관계 분석

2. 미국오전장(선)과 나머지장(후)의 상관관계 분석

3. 미국오후장(선)과 나머지장(후)의 상관관계 분석

4. 미국전체장(선)과 나머지장(후)의 상관관계 분석

5. 나머지장(선)과 미국오전장(후)의 상관관계 분석

6. 나머지장(선)과 미국오후장(후)의 상관관계 분석

7. 나머지장(선)과 미국전체장(후)의 상관관계 분석

원칙 - 미국장이 시작하고 가격흐름이 결정되며 물론 오후에 꺾일수 있지만 그 대세는 거의 유지한다. 미국장의 기조가 다음날 미국장이 시작하기 전까지 대체적으로 유지된다. OR 미국장이 시작할쯔음 바뀔 수 있다. OR 경험론적 관점에 따르면 유럽장이 시작하는 4시에 그 흐름이 꺾이거나 강해지거하기도 한다. 

1번의 가설
    미국오전장과 오후장은 약하지만 유의미한 양의 상관관계 존재

2번의 가설
    미국오전장과 나머지장은 약하지만 유의미한 양의 상관관계 존재

3번의 가설
    미국오후장과 나머지장은 강한 양의 상관관계 존재

4번의 가설
    미국전체장과 나머지장은 강한 양의 상관관계 존재

5번의 가설
    나머지장과 미국오전장은 무의미한 0에 수렴하는 상관관계존재

6번의 가설
    나머지장과 미국오후장은 무의미한 0에 수렴하는 상관관계존재

7번의 가설
    나머지장과 미국전체장은 무의미한 0에 수렴하는 상관관계존재

(나의 예측과 결과다 다르다면 유럽장의 영향력도 추가해서 따져보자, BUT 거의 영향력 없을것으로 예측된다.)

In [1]:
import pandas as pd
import numpy as np     # 데이터를 저장하고 처리하는 패키지
import matplotlib as mpl           # 그래프를 그리는 패키지
import matplotlib.pyplot as plt 
import warnings

coding method
미국 오전장(24-03)과 미국 오후장(03-08)과 미국 전체장(24-08) 나머지장(08-24) 일일 수익률 기록 -> 4*N 행렬로 변환 -> 행렬상관관계 분석
미국 오전장(24-03)과 미국 오후장(03-08)과 미국 전체장(24-08) 전날 나머지장(08-24) 일일 수익률 기록 -> 4*N 행렬로 변환 -> 행렬상관관계 분석

23,0시(출근,장시작) vs 3시(점심) vs 7,8,9시(장끝,퇴근시간)

In [19]:
df = pd.read_csv("dataset/krw_btc.csv")
dff = df['open']
dff_array = np.array(dff)
dff_array = dff_array.reshape(2358,24)
col_name =["price0","price1","price2","price3","price4","price5","price6","price7","price8","price9","price10","price11","price12","price13","price14","price15","price16","price17","price18","price19","price20","price21","price22","price23"]
dff_df = pd.DataFrame(dff_array,columns=col_name)
df_24h = dff_df
df_24h

,price0,price1,price2,price3,price4,price5,price6,price7,price8,price9,...,price14,price15,price16,price17,price18,price19,price20,price21,price22,price23
0,4297000.0,4302000.0,4303000.0,4304000.0,4308000.0,4320000.0,4322000.0,4320000.0,4305000.0,4317000.0,...,4346000.0,4318000.0,4345000.0,4366000.0,4369000.0,4367000.0,4380000.0,4397000.0,4385000.0,4377000.0
1,4377000.0,4361000.0,4363000.0,4373000.0,4364000.0,4367000.0,4362000.0,4377000.0,4356000.0,4322000.0,...,4394000.0,4408000.0,4411000.0,4437000.0,4432000.0,4450000.0,4497000.0,4509000.0,4514000.0,4491000.0
2,4527000.0,4505000.0,4514000.0,4519000.0,4564000.0,4576000.0,4546000.0,4591000.0,4596000.0,4657000.0,...,4760000.0,4728000.0,4755000.0,4729000.0,4737000.0,4764000.0,4600000.0,4632000.0,4659000.0,4639000.0
3,4560000.0,4558000.0,4590000.0,4609000.0,4587000.0,4550000.0,4581000.0,4610000.0,4608000.0,4586000.0,...,4544000.0,4541000.0,4563000.0,4604000.0,4610000.0,4618000.0,4663000.0,4684000.0,4690000.0,4677000.0
4,4670000.0,4656000.0,4678000.0,4657000.0,4655000.0,4666000.0,4679000.0,4679000.0,4638000.0,4657000.0,...,4711000.0,4736000.0,4764000.0,4774000.0,4754000.0,4743000.0,4750000.0,4749000.0,4753000.0,4770000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2353,96601000.0,94366000.0,93347000.0,93754000.0,91720000.0,91036000.0,89593000.0,91632000.0,90105000.0,91284000.0,...,91500000.0,93130000.0,92299000.0,93585000.0,93984000.0,92682000.0,93556000.0,94370000.0,92556000.0,93044000.0
2354,92550000.0,93504000.0,94168000.0,94315000.0,94000000.0,93875000.0,94073000.0,93670000.0,93094000.0,93325000.0,...,93013000.0,92885000.0,93204000.0,93691000.0,93780000.0,93913000.0,94404000.0,94416000.0,94135000.0,94312000.0
2355,94494000.0,94735000.0,94786000.0,94952000.0,94920000.0,94875000.0,94790000.0,94448000.0,94363000.0,94044000.0,...,94557000.0,94438000.0,94999000.0,94780000.0,94653000.0,94580000.0,94659000.0,95215000.0,95077000.0,95138000.0
2356,96215000.0,95497000.0,95845000.0,96166000.0,96433000.0,96927000.0,97207000.0,96479000.0,96314000.0,96237000.0,...,96344000.0,96230000.0,96361000.0,96199000.0,96133000.0,96110000.0,95995000.0,96079000.0,96174000.0,95999000.0
2357,95452000.0,95604000.0,95257000.0,95190000.0,95390000.0,95341000.0,95659000.0,95809000.0,95974000.0,95946000.0,...,97195000.0,97140000.0,97130000.0,97123000.0,97395000.0,97995000.0,97880000.0,97791000.0,98235000.0,97697000.0

In [30]:
dfdf

,price0,price1,price2,price3,price4,price5,price6,price7,price8,price9,...,price14,price15,price16,price17,price18,price19,price20,price21,price22,price23
0,4377000.0,4361000.0,4363000.0,4373000.0,4364000.0,4367000.0,4362000.0,4377000.0,4356000.0,4322000.0,...,4394000.0,4408000.0,4411000.0,4437000.0,4432000.0,4450000.0,4497000.0,4509000.0,4514000.0,4491000.0
1,4527000.0,4505000.0,4514000.0,4519000.0,4564000.0,4576000.0,4546000.0,4591000.0,4596000.0,4657000.0,...,4760000.0,4728000.0,4755000.0,4729000.0,4737000.0,4764000.0,4600000.0,4632000.0,4659000.0,4639000.0
2,4560000.0,4558000.0,4590000.0,4609000.0,4587000.0,4550000.0,4581000.0,4610000.0,4608000.0,4586000.0,...,4544000.0,4541000.0,4563000.0,4604000.0,4610000.0,4618000.0,4663000.0,4684000.0,4690000.0,4677000.0
3,4670000.0,4656000.0,4678000.0,4657000.0,4655000.0,4666000.0,4679000.0,4679000.0,4638000.0,4657000.0,...,4711000.0,4736000.0,4764000.0,4774000.0,4754000.0,4743000.0,4750000.0,4749000.0,4753000.0,4770000.0
4,4788000.0,4803000.0,4789000.0,4792000.0,4806000.0,4826000.0,4847000.0,4850000.0,4863000.0,4889000.0,...,4844000.0,4869000.0,4875000.0,4883000.0,4875000.0,4879000.0,4901000.0,4913000.0,4883000.0,4870000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2353,92550000.0,93504000.0,94168000.0,94315000.0,94000000.0,93875000.0,94073000.0,93670000.0,93094000.0,93325000.0,...,93013000.0,92885000.0,93204000.0,93691000.0,93780000.0,93913000.0,94404000.0,94416000.0,94135000.0,94312000.0
2354,94494000.0,94735000.0,94786000.0,94952000.0,94920000.0,94875000.0,94790000.0,94448000.0,94363000.0,94044000.0,...,94557000.0,94438000.0,94999000.0,94780000.0,94653000.0,94580000.0,94659000.0,95215000.0,95077000.0,95138000.0
2355,96215000.0,95497000.0,95845000.0,96166000.0,96433000.0,96927000.0,97207000.0,96479000.0,96314000.0,96237000.0,...,96344000.0,96230000.0,96361000.0,96199000.0,96133000.0,96110000.0,95995000.0,96079000.0,96174000.0,95999000.0
2356,95452000.0,95604000.0,95257000.0,95190000.0,95390000.0,95341000.0,95659000.0,95809000.0,95974000.0,95946000.0,...,97195000.0,97140000.0,97130000.0,97123000.0,97395000.0,97995000.0,97880000.0,97791000.0,98235000.0,97697000.0
2357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
dfdf = dff_df.shift(-1)
dfdf
dff_df1 = pd.DataFrame()
dff_df1["price_am"]= 100*(dff_df["price3"]-dff_df["price0"])/dff_df["price0"]
dff_df1["price_pm"]= 100*(dff_df["price8"]-dff_df["price3"])/dff_df["price3"]
dff_df1["price_all"]= 100*(dff_df["price8"]-dff_df["price0"])/dff_df["price0"]
dff_df1["price_other"]= 100*(dfdf["price0"]-dff_df["price8"])/dff_df["price8"]

dff_df1.drop([len(dff_df1)-1],axis=0,inplace=True)
dff_df1

      price_am  price_pm  price_all  price_other
0     0.162904  0.023234   0.186176     1.672474
1    -0.091387 -0.388749  -0.479781     3.925620
2    -0.176717  1.703917   1.524188    -0.783290
3     1.074561 -0.021697   1.052632     1.345486
4    -0.278373 -0.407988  -0.685225     3.234153
...        ...       ...        ...          ...
2352  1.308713  1.610745   2.940539     1.749526
2353 -2.947174 -3.892101  -6.724568     2.713501
2354  1.907077 -1.294598   0.587790     1.503856
2355  0.484687 -0.620313  -0.138633     1.962634
2356 -0.050928  0.153901   0.102895    -0.894989

[2357 rows x 4 columns]

In [27]:
corr_df = dff_df1.corr()
print("The correlation DataFrame is:")
print(corr_df, "\n")

The correlation DataFrame is:
             price_am  price_pm  price_all  price_other
price_am     1.000000  0.023714   0.634245     0.114209
price_pm     0.023714  1.000000   0.787735     0.048199
price_all    0.634245  0.787735   1.000000     0.107731
price_other  0.114209  0.048199   0.107731     1.000000

In [29]:
dff_df2 = dff_df1[1000:]
corr_df = dff_df2.corr()
print("The correlation DataFrame is:")
print(corr_df, "\n")

The correlation DataFrame is:
             price_am  price_pm  price_all  price_other
price_am     1.000000  0.060393   0.660255     0.102209
price_pm     0.060393  1.000000   0.789470     0.095956
price_all    0.660255  0.789470   1.000000     0.135246
price_other  0.102209  0.095956   0.135246     1.000000

In [40]:
dff_df2 = dff_df1
dff_df2["price_other_pre"] = dff_df2["price_other"].shift(-1)
dff_df3 = dff_df2[:2356]
dff_df3

      price_am  price_pm  price_all  price_other  price_other_pre
0     0.162904  0.023234   0.186176     1.672474         3.925620
1    -0.091387 -0.388749  -0.479781     3.925620        -0.783290
2    -0.176717  1.703917   1.524188    -0.783290         1.345486
3     1.074561 -0.021697   1.052632     1.345486         3.234153
4    -0.278373 -0.407988  -0.685225     3.234153         0.349578
...        ...       ...        ...          ...              ...
2351  0.683662  0.165754   0.850550     5.254268         1.749526
2352  1.308713  1.610745   2.940539     1.749526         2.713501
2353 -2.947174 -3.892101  -6.724568     2.713501         1.503856
2354  1.907077 -1.294598   0.587790     1.503856         1.962634
2355  0.484687 -0.620313  -0.138633     1.962634        -0.894989

[2356 rows x 5 columns]

In [41]:
corr_df = dff_df3.corr()
print("The correlation DataFrame is:")
print(corr_df, "\n")

The correlation DataFrame is:
                 price_am  price_pm  price_all  price_other  price_other_pre
price_am         1.000000  0.023712   0.634244     0.114203         0.056017
price_pm         0.023712  1.000000   0.787734     0.048193        -0.021673
price_all        0.634244  0.787734   1.000000     0.107723         0.016657
price_other      0.114203  0.048193   0.107723     1.000000         0.109009
price_other_pre  0.056017 -0.021673   0.016657     0.109009         1.000000